@keyframes ticker {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.ticker-container {
  display: flex;
  overflow: hidden;
  white-space: nowrap;
}

.ticker-move {
  display: flex;
  min-width: 200%;
  animation: ticker 40s linear infinite;
}

.ticker-item {
  flex: none;
}